@import "tailwindcss";


*{

  @apply selection:bg-blue-500 selection:text-black;

  
}

body{
overflow-y:scroll;

background:#080808;
 
&::webkit-scrollbar{
  width:6px;

}
&::-webkit-scrollbar-thumb{
  background-color:skyblue;
}
}

@theme{
  --color-bluish-black:#222831;
  --color-lightish-blue:#547792;
  --color-fikka-white: #F5F7F8;
  --color-nav-background:#080808;
  --color-input-field-background:#141414;
  --color-background-black:#080808;
  /* --border-line:@apply border-gray-700; */
  --color-svg-color:#3B82F6;

  
}


@layer base {

  /* ______________Navbar Starts_______________ */

  svg{
     @apply w-[40px] h-[40px] fill-white bg-input-field-background border-1 rounded-sm
  }

  
  nav{
    @apply bg-nav-background opacity-[97%] border-1 border-b-gray-800 ;
  }

  /* _________Navbar ends____________ */

}


@layer components{

  /* ______________Navbar Starts_______________ */

    .input-field{
      @apply  bg-input-field-background h-[40px] w-[450px] border-1 border-gray-700 border-transparent caret-blue-500 focus-within:border-b-svg-color transition-all duration-75 animate-pulse

      
    }

    
    /* _______________Navbar_ends_____________ */



    /* _______________SideBar Starts___________________ */
    .sidebar-icons{
      @apply bg-background-black w-[70px] h-[calc(100vh-60px)] flex flex-col items-center border-2 border-r-gray-800 max-md:h-[calc(100dvh-120px)]
       max-md:w-full max-md:flex max-md:flex-row max-md:items-end max-md:border-none max-md:fixed max-md:bottom-0 
    }



  }


@layer utitlities{
    /* ______________Navbar Starts_______________ */

  .flex-centered{
    @apply flex flex-row justify-center items-center
  }
  
  .flex-between{
    @apply flex flex-row justify-between items-center
    
  }

  .svg-box{
    @apply  p-[8px] border-1 border-gray-700 cursor-pointer

  }
  

  /* for responsiveness */
  .hide{
    @apply max-md:hidden;
  }

  .slidetoright{
    @apply max-md:absolute max-md:left-[50px];
  }

  .responsive-search-background{
     @apply bg-nav-background opacity-[97%] h-[60px] w-full  ;

  }

     /* _______________Navbar___ends___________ */



     /* ____________Sidebar Starts_____________ */

     .util-styling{
      @apply   flex flex-col justify-center items-center gap-[5px]  h-[70px] w-full p-[12px] odd:bg-input-field-background even:bg-background-black active:bg-svg-color hover:border-r-2 border-svg-color transition-all duration-100 ease-in
      max-md:hover:border-t-2 max-md:border-svg-color max-md:transition-all max-md:duration-100 max-md:ease-in max-md:active:bg-svg-color  max-md:rounded-xl
      


     }

     .styling-icon{
      @apply  border-none group-hover:fill-svg-color max-md:group-active:fill-svg-color 
     }

     .icon-name{
      @apply text-white text-[12px] group-hover:text-svg-color max-md:group-active:text-svg-color 
     }




}